body {
	width: 80em;
	background-color:#a3aaa3;
}

#dateSelectorDiv {
	width:100%;
}
#infoTable {
	border:thin black solid;
	width:95%;
	padding:1em;
	margin:1em;
}
div#enhetDiv {
	background-color: floralwhite;
}
div.toolbarDiv {
	text-align:center;
	margin:1em;
}
